<div class="container">
    <h4>Liste des commandes</h4>

    @foreach (var commande in Model)
    {
        <h2>Commande N°:@commande.Id</h2>
        <ul>
            <li>Client : @commande.Client.Name</li>
            <li>Date : @commande.DateCommande</li>
        </ul>
        <p>Produits</p>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in commande.CommandeLines)
                {
                    <tr>
                        <td>@line.produit.Name</td>
                        @* <td>@produit.Price</td> *@
                    </tr>
                }
            </tbody>
        </table>
    }
</div>