@model boutiqueGI.Models.Produits

@{
    ViewData["Title"] = "Nouveau Produit";
}

<h4>Nouveau Produit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Produit">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                @* <span asp-validation-for="Name" style="color : red"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type="number" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qt" class="control-label"></label>
                <input asp-for="Qt" class="form-control" type="number" />
            </div>
            <div class="form-group">
                <label asp-for="DateCrea" class="control-label">Date</label>
                <input asp-for="DateCrea" class="form-control" type="date" />
            </div> 
            <div class="form-group">
                <label asp-for="DateExp" class="control-label"> Date expiration</label>
                <input asp-for="DateExp" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Remise" class="control-label"></label>
                <input asp-for="Remise" class="form-control" type="number" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
